
body {
  background-color : #112233;
  color: lime;

}
table, th, td {
  border: 1px solid;
  padding: 0.4em;
}

.ok {
  background: #1c4412
}

.warn {
  background: #564017
}

.crit {
  background: #541717
}

.unk {
  background: #14463e
}

table, th, td {
  border: 1px solid;
    border-color: #aaaaffaa;
     border-collapse: collapse;
    padding: 2px 8px;
}
th {
    font-weight: bold;
}



a {
  color: #aaf;
  text-decoration: none;
}
 a:hover{ text-decoration: none; }
