<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/s/s.css">
<title>Reports [rapporter]</title>
</head>
<body>

<table>
<tr>
    <th>DeviceID</th>
    <th>Category</th>
    <th>ComponentID</th>
    <th>State</th>
    <th>Last update</th>
</tr>
{{ range .reports }}
    <!-- {{ .State }} -->
    {{ if eq .State 1 }}
<tr class="ok">
    {{ else if eq .State 2 }}
<tr class="warn">
    {{ else if eq .State 3 }}
<tr class="crit">
    {{ else if eq .State 4 }}
<tr class="unk">
    {{ else }}
<tr>
    {{ end }}
    <td>{{ .DeviceID }}</td>
    <td>{{ .Category }}</td>
    <td><a class="report-link" href="/report/{{ .DeviceID }}/{{ .ComponentID }}">{{ .ComponentID }}</a></td>
    <td>{{ .State }}</td>
    <td>{{ .UpdatedAt.Format "2006-01-02 15:04:05" }}</td>
</tr>
{{ end }}
</table>

</body>
</html>
