<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/s/s.css">
<title>{{ .title }}</title>
</head>
<body>

<br>DeviceID: {{ .report.DeviceID }}
<br>Category: {{ .report.Category }}
<br>ComponentID: /{{ .report.ComponentID }}
<br>State:
{{ if eq .report.State 1 }}
OK
{{ else if eq .report.State 2 }}
Warning
{{ else if eq .report.State 3 }}
Critical
{{ else if eq .report.State 4 }}
Unknown
{{ else }}
Invalid
{{ end }}
<br>Updated at: {{ .report.UpdatedAt.Format "2006-01-02 15:04:05" }}

<br>{{ .content }}<br>

<script>
    function sendDelete(event){
        console.log(event);
        var xhr = new XMLHttpRequest();
        xhr.open("DELETE", event.target.href);

        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) {
                console.log(xhr.status);
                console.log(xhr.responseText);
            }};
        xhr.onload= function() {
          window.location.href = window.location.href;
        }

        xhr.send();
        event.preventDefault();
    }
</script>

<a class="delete-link" onclick="sendDelete(event)" href="/api/v1/report/{{ .report.DeviceID }}/{{ .report.ComponentID }}">delete</a></td>

</body>